*.swp
__pycache__
*.lp
*.glp
src/*.problem
src/*.schedule
src/*.txt
src/report*
src/scripts/log
report/*.aux
report/*.log
report/*.pdf
report/*.synctex.gz
report/*.out
report/*.bbl
report/*.toc
report/*.blg
report/*.dvi
