*.swp
__pycache__
*.lp
*.glp
src/*.problem
src/*.schedule
src/*.txt
src/*.pyc
scripts/log
report/*.aux
report/*.log
report/*.synctex.gz
report/*.out
report/*.bbl
report/*.toc
report/*.blg
report/*.dvi
report/dummy.pdf
unit_tests/.cache*
